@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="container text-center mt-5">
            @Body
        </article>
    </main>

    <RadzenComponents />
</div>
