@page "/createdocument"

<PageTitle>Blank Document</PageTitle>

<EditForm class="container" Model="@document" OnValidSubmit="AddDocument">
    <InputText class="form-control w-50 mb-3" @bind-Value="@document.Title" />

    <RadzenHtmlEditor style="height: 600px;" @bind-Value="@document.Content" />

    <div class="mt-5 float-start">
        <button type="submit" class="btn btn-primary me-5">Save<i class="bi bi-floppy ms-3"></i></button>
    </div>
</EditForm>