@page "/"

<PageTitle>Home</PageTitle>

@if (documents == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var document in documents)
    {
        <div class="col-md-3 text-center" style="display:inline-block">
            <span class="bi bi-file-earmark-text" style="font-size: 100px; cursor:pointer" 
                @onclick="() => NavigateToSingleDocument(document.Id)"></span>
            <p>@document.Title</p>
        </div>
    }
}