@page "/singledocument/{id}"

<PageTitle>@document.Title</PageTitle>

@if (document == null)
{
    <p>Loading...</p>
}
else
{
    <RadzenHtmlEditor style="height: 600px;" @bind-Value="@document.Content" />
}